/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/****** Header ***********/

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: sticky;
    top: 0px;
    padding-bottom: 30px;
}

.logo {
    width: 65px;
    margin-top: 20px;
}

.onglets-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 50px;
}

.selected-nav:hover {
    color: #0065FC;
}

.selected-nav {
    border-color: #0065FC;
    border-top-width: 3px;
    border-top-style: solid;
    padding-top: 10px;
}

.unselected-nav {
    padding-top: 13px;
}

.fa-solid {
    color: var(--main-color);
}

.input-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 340px;
    height: 40px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #F2F2F2;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type=search] {
    padding: 11px;
    height: 40px;
    width: 200px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

input[type=button] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 100px;
    font-size: 10px;
    color: #F2F2F2;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

input[type=button]:active {
    background-color: #0052ce;
}

.input-icon {
    width: 45px;
    height: 40px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.filters-title {
    margin-right: 5px;
}

.filters-buttons {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filters-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    column-gap: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: 1s;
}

.filters-button:hover {
    background-color: #DEEBFF;
}

.logo-infos {
    margin-right: 8px;
}

.number-flat-infos {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.hebergements-and-populaires {
    margin-top: 30px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: 1s;
}

.card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    flex-wrap: wrap;
}

.hebergements-title {
    margin-bottom: 33px;
    padding-left: 10px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;

}

.hebergements-cards .big-card {
    display: flex;
    flex-direction: column;
    height: 210px;
    width: 30%;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: 1s;
}

.big-card img {
    object-fit: cover;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 130px;
}

.big-card:hover {
    transform: scale(1.1);
    z-index: 2;
}

.hebergements-cards .card-rating {
    margin-bottom: 10px;
    margin-left: 12px;
}

.hebergements .card-title {
    margin-left: 13px
}

.hebergements .card-subtitle {
    margin-left: 13px;
}

.hebergements-plus {
    padding-top: 20px;
    font-size: 16px;
    margin: 0;
    margin-left: 10px;
}

.Promesse-filtres {
    line-height: 10px;
}

/****** Populaires ***********/

.populaires {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.card-txt {
   line-height: 5px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    line-height: 20px;
}

.populaires-cards .card-subtitle {
    margin: 5;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Activités *******/

.activités-marseille {
    margin-top: 100px;
    margin-left: 30px;
}

.activités-card .card-txt {
    margin-left: 13px;
}

.activités-cards {
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.activités-card {
    width: 25%;
    height: 450px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1s;
}

.activités-card-picture {
    max-width: 100%;
}

.activités-card img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.activités-card:hover {
    transform: scale(1.1);
    z-index: 2;
}

/******* Footer ******/

.footer {
    background-color: #F2F2F2;
    margin-top: 100px;
    padding: 20px;
}

.links {
    display: flex;
}

.a-propos-link {
    padding-left: 30px;
    padding-right: 250px;
}

.nos-hebergements-and-assistance-link {
    display: flex;
    column-gap: 250px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
    /* ... */
}