/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 14px;
}

p {
    font-size: 14px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/****** Header ***********/

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: sticky;
    top: 0px;
    padding-bottom: 30px;
}

.logo {
    width: 65px;
    margin-top: 20px;
}

.onglets-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 50px;
}

.selected-nav:hover {
    color: #0065FC;
}

.selected-nav {
    border-color: #0065FC;
    border-top-width: 3px;
    border-top-style: solid;
    padding-top: 10px;
}

.unselected-nav {
    margin-top: 12px;
}

.fa-solid {
    color: var(--main-color);
}

.Promesse-filtres {
    margin: 0;
    padding: 0;
}

.input-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 40px;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: #D9D9D9;
    margin-top: 30px;
    margin-bottom: 20px;
}

#icon-pinpoint {
    width: 40px;
    height: 20px;
    object-fit: contain;
    border-top-left-radius: 10;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #F2F2F2;
}

.input-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    padding: 1px;
    font-size: 10px;
    color: #F2F2F2;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
}

.input-search-button-text {
    font-size: 10px;
}

.filters-title {
    margin-right: 10px;
}

.filters-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.filters-button {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D9;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.number-flat-infos {
    margin-bottom: 30px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}